.section {
    background-image: url("./public/images/background.png");
    padding-bottom: 100px;
    padding-top: 10%;
}

.card {
    margin-left: 48%;
    background-color: #FFF3E3;
    width: 50%;
    height: 40%;
    border-radius: 12px;
}
.botao {
    margin-left: 10%;
    margin: 5%;
    display: inline-flex;
    padding: 25px 72px;
    align-items: flex-start;
    gap: 10px;
    background: var(--Primary, #B88E2F);
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-style: none;
}
.text1 {
    padding-top: 10%;
    margin-left: 8%;
    width: 50%;
    color: var(--font-color, #333);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3px;
}
.text2 {
    margin-left: 8%;
    margin-top: -2%;
    width: 70%;
    height: 127px;
    flex-shrink: 0;
    color: var(--Primary, #B88E2F);
    font-family: Poppins;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px; /* 125% */
}
.text3 {
    margin-left: 8%;
    width: 80%;
    height: 52px;
    flex-shrink: 0;
    color: var(--font-color, #333);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}